.wrapper
  .wrapper__top_bar
    = render "shared/top_bar"
  .wrapper__contents
    .wrapper__contents__center
      #tag.wrapper__contents__center__form
        %h1 タググループ登録
        = render partial: 'shared/form_folder', locals: { tag: @folder }
    .wrapper__contents__right
      = render "shared/contents_right"