.wrapper__contents__center
  .wrapper__contents__center__memo
    .wrapper__contents__center__memo__info
      .wrapper__contents__center__memo__info__title
        title1
      .wrapper__contents__center__memo__info__date
        2020/2/19
    .wrapper__contents__center__memo__content
      <img src="/assets/a.jpg" class="wrapper__contents__center__memo__content__image" />
      .wrapper__contents__center__memo__content__text
