.wrapper__contents__right__tags


  -# = link_to '#' do
  -#   = icon('fas',' fa-edit',class: "wrapper__contents__right__tag")
  -#   = icon('fas',' fa-tags',class: "wrapper__contents__right__tag")
  -#   = icon('fas',' fa-plus-circle',class: "wrapper__contents__right__tag")
  -#   = icon('far',' fa-lemon',class: "wrapper__contents__right__tag")