.wrapper__contents__right
  = "#{@user.name}さんのタグリスト"
  .wrapper__contents__right__ul
    - @user_tags.each do |tag|
      = link_to '#' do
        %li.wrapper__contents__right__ul__list
          = tag.name