-# %script{src: "https://code.jquery.com/jquery-3.3.1.min.js", integrity: "sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin: "anonymous"}
-# %script{integrity: "sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin: "anonymous"}

%div#wrapper
  %p.btn-gnavi
    %span
    %span
    %span
  %nav#global-navi
    %ul.menu
      %li
        %a{href: ""} トップ
      %li
        %a{href: ""} 概要
      %li
        %a{href: ""} 特集
      %li
        %a{href: ""} アクセス
      %li
        %a{href: ""} お問い合わせ