%header#global-head
  %h1#brand-logo Logo

%div#nav-toggle
  %div
    %span
    %span
    %span

%aside#sidebar
  %nav#global-nav
    %ul
      %li
        %a{href: "#"} Home
      %li.wrapper__demo__sub-menu
        %a{href: "#", class: "wrapper__demo__sub-menu-head"} About
        %ul.wrapper__demo__sub-menu-nav
          %li
            %a{href: "#"} About 1
          %li
            %a{href: "#"} About 2
          %li
            %a{href: "#"} About 3
      %li.sub-menu
        %a{href: "#", class: "wrapper__demo__sub-menu-head"} Products
        %ul.wrapper__demo__sub-menu-nav
          %li
            %a{href: "#"} Product 1
          %li
            %a{href: "#"} Product 2
          %li
            %a{href: "#"} Product 3
      %li
        %a{href: "#"} Link
      %li
        %a{href: "#"} Contact
%main#main
  %div#main-in
    %div#main-visual
      %h2 Fixed Sidebar
      -# /#main-in
  %div#overlay