%form.new_message
  .input_box
    %textarea{ class: "input_box__text", placeholder: "  type a message"}
    %label{class: "input_box__image"}
      = icon('fas', 'image')
      %input{type: "file", class: "input_box__image__file" }
  %input{type: "submit", class: "submit_btn"}


-# .wrapper__contents__center__form
  -# =form_for [@memo] do |f|
  -#   = f.text_field :content, class: 'wrapper__contents__center__form__input_box',placeholder: 'type a message'
    -# .wrapper__contents__center__form__mask
    -#   =f.label :image, class: 'wrapper__contents__center__form__mask__image' do
    -#     = icon('fas', 'image', class: 'icon')
    -#     = f.file_field :image, class: 'hidden'
    -# = f.submit 'Send', class: 'wrapper__contents__center__form__submit'



-# <%= form.text_area :text, placeholder: "text" , rows: "2" %>