.wrapper__top_bar
  .wrapper__top_bar__title
    = link_to "MemoSpace", '/', class: "top_bar__title--text"
  .wrapper__top_bar__btn
    = link_to "ログアウト", '#', class: "top_bar__btn__logout"
    = link_to "current_user", '#', class: "header__btn__user_name"