.wrapper__top_bar
  .wrapper__top_bar__title
    = link_to root_path, :method => :get do
      %i.fas.fa-republican
        MemoSpace
  .wrapper__top_bar__btn
    = link_to new_memo_path do
      %p#new_file.fas.fa-plus-circle
      %i#new_file.far.fa-file-alt
    = link_to new_tag_path do
      %p#new_tag.fas.fa-plus-circle
      %i#new_tag.fas.fa-tags
    %i.far.fa-user
      #{@user.name}
    =link_to destroy_user_session_path, :method => :delete do
      %i.fas.fa-.fa-sign-out-alt