&__form {
  height: 400px;
  width: 800px;
  // background-color: blue;
  padding: 20px 20px 20px 20px;
  margin: 0 auto;
  box-sizing: border-box;

  .new_message {
    // background-color: lightgreen;
    &__title {
      width: 750px;
      height: 50px;
      align-items: center;
      border-radius: 10px;
      font-size: 20px;
      margin-bottom: 20px;
      padding-left: 20px;
    }
    &__text {
      width: 750px;
      height: 200px;
      align-items: center;
      padding-right: 90px;
      border-radius: 10px;
      font-size: 20px;
      margin-bottom: 20px;
      padding-top:20px;
      padding-left: 20px;
    }
    &__mask {
      position: relative;

      &__image {
        position: absolute;
        bottom: 25px;
        right: 20px;
        font-size: 2rem;
        #memo_image {
          display: none;
        }
        &__file {

        }
      }
    }
    &__submit_btn {
      width: 750px;
      height: 40px;
      border-radius: 5px;
      font-size: 1.2em;
      margin-bottom: 20px;
    }
  }
}