&__form#folder {

  // height: calc(100vh - 80px);
  // height: 900px;
  // padding-top: 200px;
  color: white;
  margin: auto auto;
  font-size: 30px;
  h1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .new_folder {
    width: 80%;
    margin: 0 auto;
    &__field {
      width: 80%;
      height: 80px;
      font-size: 30px;
      border-radius: 10px;
      padding-left: 15px;
      margin: 20px 80px 20px 80px;
    }
    &__submit_btn {
      width: 35%;
      height: 40px;
      border-radius: 5px;
      display: block;
      margin: 0 auto;
      font-size: 20px;
    }
  }
}
// &__delete {
//   padding: 20px 30px 0 0 ;
//   i.fas.fa-.fa-trash-alt {
//     padding: 50px 170px 0 0;
//     font-size: 40px;
//     color: white;
//     // align-items: center;
//     // text-align: center;
//     display: block;
//     // margin-right: auto;
//     text-align: right;
//     // margin: 20px 0 0 auto;
//     // float: right;
//   }
// }