@include mq(sm) {
  &__form#memo {
    height: calc(100vh - $top_height);
    width: 95%;
    padding-top: 10px;
    color: white;
    font-size: 20px;
    margin:auto auto;
    h1 {
      width: 95%;
      text-align: center;
      padding-top: 5%;
      padding-bottom: 3%;
    }
  
    form {
      .new_message {
        &__input {

          &__form {
            width: 90%;
            margin: 0 auto;
            p {
              font-size: 20px;
            }
            &__title {
              width: 100%;
              height: 40px;
              align-items: center;
              border-radius: 10px;
              font-size: 20px;
              margin-bottom: 20px;
              padding-left: 20px;
              color: black;
              margin: 0 auto;
            }
            &__text {
              width: 100%;
              height: 300px;
              align-items: center;
              padding-right: 90px;
              border-radius: 10px;
              font-size: 16px;
              margin-bottom: 20px;
              padding-top:20px;
              padding-left: 20px;
              color: black;
            }
            &__mask {
              position: relative;
              &__image {
                position: absolute;
                bottom: 15px;
                right: 7px;
                font-size: 4rem;
                color: black;
                #memo_image {
                  display: none;
                }
                &__file {
        
                }
              }
            }
          }
          &__tag {
            font-size: 18px;
            width: 90%;
            margin: 0 auto;
            margin-bottom: 20px;
            &__element {
              width: 100%;
              padding: 10px 20px 10px 20px;
              margin: auto auto;
              background-color: rgba(64,64,64,0.7);
              border-radius: 5px;
              &__label {
                font-size: 20px;
                display: block;
                line-height: 35px;
              }
            }
          }
        }
        &__submit_btn {
          width: 90%;
          height: 40px;
          border-radius: 5px;
          font-size: 1.2em;
          margin-top: 20px;
          font-size: 20px;
          line-height: 40px;
          text-align: center;
          margin: 0 auto;
          display: block;
          color: black;
        }
      }
    }
  }
}

@include mq(xl){
  &__form#memo {
    height: calc(100vh - $top_height);
    padding-top: 20px;
    color: white;
    font-size: 30px;
    h1 {
      text-align: center;
      padding-top: 30px;
      padding-bottom: 10px;
    }
  
    form {
      .new_message {
        &__input {
          display: flex;
          justify-content: center;
          &__form {
            p {
              font-size: 20px;
            }
            &__title {
              width: 750px;
              height: 50px;
              align-items: center;
              border-radius: 10px;
              font-size: 20px;
              margin-bottom: 20px;
              padding-left: 20px;
              color: black;
            }
            &__text {
              width: 750px;
              height: 400px;
              align-items: center;
              padding-right: 90px;
              border-radius: 10px;
              font-size: 20px;
              margin-bottom: 20px;
              padding-top:20px;
              padding-left: 20px;
              color: black;
            }
            &__mask {
              // position: relative;
              &__image {
                position: relative;
                bottom: 80px;
                left: 700px;
                font-size: 4rem;
                color: black;
                #memo_image {
                  display: none;
                }
                &__file {
        
                }
              }
            }
          }
          &__tag {
            padding-left: 10px;
            font-size: 18px;
            &__element {
              width: 100%;
              padding: 20px 20px 20px 20px;
              margin: auto auto;
              background-color: rgba(64,64,64,0.7);
              border-radius: 5px;
              &__label {
                font-size: 20px;
                display: block;
                line-height: 35px;
              }
            }
          }
        }
        &__submit_btn {
          width: 20%;
          height: 40px;
          border-radius: 5px;
          font-size: 1.2em;
          margin-top: 20px;
          font-size: 20px;
          line-height: 40px;
          text-align: center;
          margin: 0 auto;
          display: block;
          color: black;
        }
      }
    }
  }
}