&__index {
  width: 90%;
  height: calc(100vh - 80px);
  box-sizing: border-box;
  margin: auto;
  padding-left: 100px;
  // overflow: scroll;

  &__head {
    color: white;
    height: 100%px;
    width: calc(100vw - 300px);

    &__sub_title {
      font-size: 30px;
      padding-top: 50px;
      padding-bottom: 20px;
      text-align: center;

      // margin: auto;
    }
    .fas.fa-.fa-plus-circle {
      height: 30px;
      width: calc(100vw - 200px);
      font-size: 20px;
      text-decoration: none;
      text-align: center;
      color: white;
      margin: auto;
      // margin-top: ;
    }
  }

  &__ul {
    // width: 100%;
    // height: calc(100vh - 100px);
    padding: 30px 0 0 150px;
    // background-color: gray;
    margin: 0 auto;
    display: inline-block;
    // display: inline-block;
    // ::-webkit-scrollbar{
    //   width: 5px;
    // }
    // ::-webkit-scrollbar-track{
    //   background: black;
    //   border: none;
    //   border-radius: 10px;
    //   box-shadow: inset 0 0 2px #777; 
    // }
    // ::-webkit-scrollbar-thumb{
    //   background: #ccc;
    //   border-radius: 10px;
    //   box-shadow: none;
    // }
    a {
      height: 170px;
      width: 400px;
    }

    &__list {
      border-radius: 10px 10px 10px 10px;
      height: 200px;
      width: 200px;
      background-color: white;
      padding: 20px 30px;
      float: left;
      margin: 0 70px 70px 0px;
      // display: inline-block;
      // display: flex;
      position: relative;

      &__title {
        font-size: 15px;
        color: brack;
      }
      &__content {
        display: flex;
        &__image {
        }
        &__text {
          margin-left: 20px;
          font-size: 12px;
          color: silver;
        }
      }
      &__date {
        font-size: 15px;
        color: silver;
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 10px;
        margin-bottom: 10px;
      }

    }
    // &__ul li:nth-child(odd){
    //   clear:both;
    // }
  }


  // &__ul li:nth-of-type(odd){
  //   margin-left: 5px;
  // }

}
