&__memo{
  // background-color: gray;
  height: calc(100vh - 380px);
  width: 700px;
  // padding: 10px 10px 10px 10px;
  &__info{
    // margin: 30px 30px 30px 30px;
    display: flex;
    &__title{
      font-size: 32px;
      margin: 30px 30px 30px 30px;
    }
    &__date{
      margin: 30px 30px 30px 30px;
      font-size: 12px;
      color: silver;
    }
  }
  &__content{
    margin: 30px 30px 30px 30px;
    display: flex;
    &__image{
      height: 300px;
      width: 300px;
      border-radius: 10px;
      // background-image:  image-url('a');
      background-size:  cover;
      opacity:  1;
    }
    &__text{
  
    }
  }

}