&__contents {
  display: flex;
  @import "contents_left";
  @import "contents_center";
  @import "contents_right";
  @import "contents_index";
  width: 100%;
  height: calc(100vh - 80px);
  overflow: scroll;
}