&__right {
  width: #{$right_width};
  height: calc(100vh - 80px);
  box-sizing: border-box;
  padding-top: 120px;
  padding-right: 40px;
  font-size: 20px;
  color: white;
  text-align: center;

  &__ul {
    padding-top: 20px;
    padding-bottom: 20px;
    list-style-type: none;
    border-radius: 10px;
    background-color: rgba(73, 72, 72, 0.7);
    font-size: 10px;
    &__title{
      font-size: 20px;
    }

    &__search-form {
      padding: 0 20px;
      &__list {
        width: 220px;
        height: 30px;
        border-radius: 10px;
        margin: 20px 20px 20px 20px;
        padding: 0 0 0 10px;
        background-color: white;
        text-align: center;
        line-height: 30px;
        display: flex;
        &__icon {
          padding-left: 20px;
          padding-right: 20px;
          text-decoration: none;
        }
        &__checkbox {
          margin: auto 10px;
          font-size: 20px;
        }
        &__name {
          font-size: 15px;
          color:darkblue;
        }
      }
      &__submit {
        height: 80px;
        width: 30%;
        margin-top: 30px;
        font-size: 20px;
        color:darkblue;
      }
    }
  }
}
a {
  color: darkblue;
  text-decoration: none;
}