&__center {
  height: calc(100vh - #{$top_height});
  width: calc(100vw - #{$right_width});
  margin-top: #{$top_height};
  @import "contents_center_memo";
  @import "contents_center_form";
  @import "contents_center_form_tag";
}