&__form#tag {

  height: calc(100vh - 80px);
  padding-top: 200px;
  color: white;
  font-size: 30px;
  h1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
  }
}

.new_tag {
  width: 80%;
  height: 100px;
  margin: 0 auto;
  &__field {
    width: 80%;
    height: 80px;
    font-size: 30px;
    border-radius: 10px;
    padding-left: 15px;
    margin: 20px 80px 20px 80px;
  }
  &__submit_btn {
    width: 35%;
    height: 40px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    font-size: 20px;
  }
}