@media (max-width: 1150px) {
  &__contents {
    $top_height: 50px;
    @import "mixin/mixin";
    @import "contents_center";
    @import "contents_right";
    @import "contents_index";
    @import "folder_index";

    background-image:  image-url("beach.jpg");
    background-size:  contain;
    overflow-y: scroll;
    overflow-x: hidden;

    width: 100vw;
    height: 100vh;
    display: flex;
  }
}
@media (min-width: 1150px) {
  &__contents {
    $top_height: 50px;
    @import "mixin/mixin";
    @import "contents_center";
    @import "contents_right";
    @import "contents_index";
    @import "folder_index";

    background: url(beach.jpg) no-repeat;
    background-size:  cover;
    overflow-y: scroll;
    overflow-x: hidden;

    width: 100vw;
    height: 100vh;
    display: flex;
  }
}