* {
  box-sizing: border-box;
}

.wrapper {
  background-image:  image-url("prague-980732_1920.jpg");
  background-size:  cover;
  z-index: 0;
  overflow: hidden;
  background-color: rgb(0,163,175);
  position: relative;

  @import "top_bar";
  @import "contents";
}

.wrapper:before {
  content: '';
  background: inherit;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}