#global-navi {
  padding-top: 25px;
  width: 100%;
}
#wrapper ul{
  display: block;
}
#wrapper nav ul li{
  display:inline-block;
}
#wrapper nav ul li a{
  color: #ddd
}

&__menu {
  ul {
    display: flex;
    li {

      a {
        text-decoration: none;
        display: flex;
      }
      p {
        color: white;
      }
      #guide {
        padding-left: 3px;
        font-size: 17px;
      }
      a.menu__new_file {
        padding-left: 20px;
        .menu__new_file__icon {
          position: relative;
          p#new_file.fas.fa-plus-circle {
            font-size: 15px;
            position: absolute;
            left: -13px;
            bottom: 10px;
          }
          i#new_file.far.fa-file-alt {
            font-size: 17px;
          }
        }
        .menu__new_file__guide {

        }
      }
    
      a.menu__new_tag {
        padding-left: 20px;
        .menu__new_tag__icon {
          position: relative;
          p#new_tag.fas.fa-plus-circle {
            font-size: 15px;
            position: absolute;
            left: -13px;
            bottom: 10px;
          }
          i#new_tag.fas.fa-tags {
            font-size: 17px;
          }
        }
        .menu__new_tag__guide {

        }
      }
      a.menu__new_folder {
        padding-left: 20px;
        .menu__new_folder__icon {
          position: relative;
          p#new_folder.fas.fa-plus-circle {
            font-size: 15px;
            position: absolute;
            left: -13px;
            bottom: 10px;
          }
          i#new_folder.far.fa-folder {
            font-size: 17px;
          }
        }
        .menu__new_folder__guide {

        }
      }
      .menu__tag_search {
        display: none;
      }

      a.menu__edit_tag_list {
        padding-left: 10px;
        .menu__edit_tag_list__icon {
          i.fas.fa-edit {
            font-size: 17px;
          }
        }
        .menu__edit_tag_list__guide{
        }
      }
      a.menu__logout {
        padding-left: 10px;
        .menu__logout__icon {
          i.fas.fa-.fa-sign-out-alt {
            font-size: 19px;
          }
        }
        .menu__logout__guide {

        }
      }
    }
  }
}

/*スマホ画面でハンバーガーメニューの形にする*/
@media (max-width: 1150px) {

  #wrapper nav {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background:black;
    font-size: 16px;
    box-sizing: border-box;
    z-index: 2;
    padding-top: $top_height;
  }
  #wrapper nav ul li {
    width: 100%;
    line-height: 40px;
    display: flex;
  }

  #wrapper label {
    line-height: 20px;
  }

  #wrapper nav ul li a {
    width: 100%;
    text-decoration: none;
    color: #ddd;
    padding-left: 30px;
  }

  ul {
    li {
      height: 100%;
      a.menu__new_file {
        .menu__new_file__icon {
          p#new_file.fas.fa-plus-circle {
            padding-left: 5px;
            font-size: 13px;
          }
          i#new_file.far.fa-file-alt {
            font-size: 15px;
          }
        }
        .menu__new_file__guide {
          font-size: 17px;
        }
      }
      a.menu__new_tag {
        .menu__new_tag__icon {
          p#new_tag.fas.fa-plus-circle {
            padding-left: 5px;
            font-size: 13px;
          }
          i#new_tag.fas.fa-tags {
            font-size: 15px;
          }
        }
        .menu__new_tag__guide {
          font-size: 17px;
        }
      }
      a.menu__new_folder {
        .menu__new_folder__icon {
          p#new_folder.fas.fa-plus-circle {
            padding-left: 5px;
            font-size: 13px;
          }
          i#new_folder.far.fa-folder {
            font-size: 15px;
          }
        }
        .menu__new_folder__guide {
          font-size: 17px;
        }
      }

      .menu__tag_search {
        display: inline-block;
        width: 100%;
        &__title {
          display: flex;
          padding-left: 10px;
          .fas.fa-search {
            font-size: 17px;
            margin: auto 0;
          }
          &__guide {
            font-size: 17px;
            padding-left: 3px;
          }
        }
        &__ul {
          padding-left: 13px;
          &__search-form {
            &__folder {
              font-size: 17px;
              color: white;
              text-align: left;
              &__list {
                height: 25px;
                padding-left: 3px;
                border-radius: 5px;
                text-align: center;
                color: white;
                display: flex;

                &__checkbox {
                  margin: auto 2px;
                }
                &__icon {
                  padding-left: 5px;
                  text-decoration: none;
                  font-size: 13px;
                  margin: auto 0;
                }
                &__name {
                  font-size: 13px;
                }
              }
            }
            &__submit {
              width: 75%;
              height: 20px;
              line-height: 20px;
              color: white;
              background-color:rgba(0,0,0,0);
              margin: 0 2px;
              font-size: 13px;
              border: 1px solid;
              border-color: white;
              text-align: center;
            }
          }
        }
        a.menu__edit_tag_list {
          i.fas.fa-edit {
            font-size: 17px;
          }
          .menu__edit_tag_list__guide{
          }
        }
      }
      a.menu__logout {
        .menu__logout__icon {
          i.fas.fa-.fa-sign-out-alt {
            font-size: 17px;
          }
        }
        .menu__logout__guide {
          font-size: 17px;
        }
      }
    }
    li :hover {
      background-color: skyblue;
    }
    ul#tag_search {
      div :hover {
        background-color: white;
        color: darkblue;
      }
      li {
        width: 95%;
      }
    }
    ul#tag_search {
      display: none;
    }
    ul#tag_search.is-active {
      display: block;
    }
  }

  #wrapper .btn-gnavi {
    position: absolute;
    top: 18px;
    right: 7px;
    width: 30px;
    height: 24px;
    z-index: 3;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms
  }

  #wrapper .btn-gnavi span {
    position: absolute;
    width: 30px;
    height: 4px;
    background: white;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms
  }

  #wrapper .btn-gnavi span:nth-child(1) {
    top: 0
  }
  #wrapper .btn-gnavi span:nth-child(2) {
    top: 10px
  }
  #wrapper .btn-gnavi span:nth-child(3) {
    top: 20px
  }
  #wrapper .btn-gnavi.open {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
  }
  #wrapper .btn-gnavi.open span {
    background: #fff
  }
  #wrapper .btn-gnavi.open span {
    width: 24px;
  }
  #wrapper .contents section p {
    position: absolute;
    top: 50%;
    width: 30%;
    line-height: 1.4;
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 6px #666
  }

  #wrapper .contents section:nth-child(odd) p {
    left: 10%
  }

  #wrapper .contents section:nth-child(even) p {
    right: 10%
  }
}