&__title {
  // background-color: gray;
  width: 300px;
  height: 80px;
  font-size: 50px;
  margin-left: 30px;
  line-height: 80px;
  padding-top: 10px;

  i.fas.fa-republican {
    font-size: 36px;
    text-decoration: none;
    color: white;
  }
}