&__user {
  margin-right: 40px;
  color: white;
  font-size: 20px;
  width: 40%;
  i.far.fa-user {
    margin-top: 30px;
  }
  &__user {
  }
}
@media (max-width: 1150px) {
  &__user {
    color: white;
    font-size: 15px;
    &__user {
      margin-left: 5px;
    }
  }
}