@mixin list {
  border-radius: 10px 10px 10px 10px;
  height: 170px;
  width: 170px;
  background-color: white;
  padding: 20px;
  float: left;
  margin: 35px 35px 35px 35px;
  // margin: auto auto;
  position: relative;
  box-shadow: -60px 20px 8px 2px rgba(20,64,120,0.7);
  overflow: hidden;
}

@mixin list_title {
  font-size: 15px;
  color: darkblue;
}

@mixin list_content {
  margin-top: 10px;
  display: flex;
}

@mixin list_content_text {
  margin-right: 20px;
  font-size: 8px;
  color: silver;
  word-break: break-all;
}

@mixin list_data {
  width: 100%;
  background-color: white;
  font-size: 10px;
  color: silver;
  position: absolute;
  bottom: 0;
  padding: 5px 0 5px 50px;
}