$breakpoints: (
  'sm': 'screen and (min-width: 300px)',
  // 'md': 'screen and (min-width: 768px)',
  // 'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1150px)',
) !default;

@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
@mixin mq($breakpoint: xl) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// For mq(sm)
@mixin list-sm {
  border-radius: 10px 10px 10px 10px;
  height: 70px;
  width: 70%;
  // background: -webkit-linear-gradient(left,#6699FF 0%,#6699FF 1%,#66CCFF 2%,#A7F1FF 3%,#FFFFFF 4%,#FFFFFF 100%);
  background: -webkit-linear-gradient(left,#6699FF 0%,#66CCFF 1%,#FFFFFF 2%,#FFFFFF 100%);
  // background: -webkit-linear-gradient(left,#6699FF 0%,#66CCFF 1%,#A7F1FF 2%, #FFFFFF 3% ,#FFFFEE 4%,#FFFFEE 99%, #FFFFFF 100%);
  // background: linear-gradient(-120deg,rgba(255, 250, 250, 0.1) 0,rgba(255, 250, 250, 0.5) 70px,rgba(255, 250, 250, 0) 71px);

  padding: 1% 5%;
  margin: 40px auto;
  position: relative;
  box-shadow: -60px 20px 8px 2px rgba(20,64,120,0.7);
  overflow: hidden;
}

@mixin list_title-sm {
  font-size: 10px;
  color: darkblue;
}

@mixin list_content-sm {
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
}

@mixin list_content_text-sm {
  font-size: 8px;
  color: silver;
  word-break: break-all;
}

@mixin list_data-sm {
  width: 100%;
  font-size: 8px;
  display: inline-block;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 10px;
  color: silver;
}


// For mq(xl)
@mixin list-xl {
  border-radius: 10px 10px 10px 10px;
  height: 170px;
  width: 170px;
  background: -webkit-linear-gradient(left,#6699FF 0%,#66CCFF 1%,#A7F1FF 2%, #FFFFFF 3% ,#FFFFFF 100%	);
  padding: 20px;
  float: left;
  margin: 60px 35px 35px 60px;
  position: relative;
  box-shadow: -60px 20px 8px 2px rgba(20,64,120,0.7);
  overflow: hidden;
}

@mixin list_title-xl {
  font-size: 15px;
  color: darkblue;
}

@mixin list_content-xl {
  margin-top: 10px;
  display: flex;
}

@mixin list_content_text-xl {
  margin-right: 20px;
  font-size: 8px;
  color: silver;
  word-break: break-all;
}

@mixin list_data-xl {
  width: 100%;
  font-size: 10px;
  color: silver;
  position: absolute;
  bottom: 0;
  right: 10px;
  padding: 5px 0 5px 50px;
}