.wrapper
  .wrapper__top_bar
    = render "shared/top_bar"
  .wrapper__contents
    .wrapper__contents__left
      = render "shared/contents_left"
    .wrapper__contents__center
      .wrapper__contents__center__memo
      .wrapper__contents__center__form
        = render "form"
    .wrapper__contents__right
      = render "shared/contents_right"
