.wrapper
  .wrapper__top_bar
    = render "shared/top_bar"
  .wrapper__notifications
    = render 'layouts/notifications'
  .wrapper__contents
    .wrapper__contents__index
      = render "shared/contents_index"
    .wrapper__contents__right
      = render "shared/contents_right"