.wrapper
  .wrapper__top_bar
    = render "shared/top_bar"
  .wrapper__contents
    .wrapper__contents__center
      #memo.wrapper__contents__center__form
        %h1 メモ登録
        = render partial: 'shared/form', locals: { memo: @memo }
