!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MemoSpace
    = csrf_meta_tags
    -# = csrf_meta_tags
    -# = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    -# = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

    -# For responsive
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0", name: "viewport"}
    -# For hunberger menu
    %script{integrity: "sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin: "anonymous"}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.8.1/js/perfect-scrollbar.jquery.min.js"}
    -# %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"}
    %script{type: "text/javascript"}

  %body
    -# = render 'layouts/notifications'
    = yield
